:root {
    --pW: 120px;
    --pH: 220px;
    --gradIN: hsla(80, 40%, 85%, 0.85);
    --gradOUT: hsla(80, 20%, 20%, 0.75);
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background-image: linear-gradient(to right, var(--gradOUT) -10%, var(--gradIN) 30%, var(--gradIN) 70%, var(--gradOUT) 110%), url('Stone_DISP.png');
    background-size: 100%, 45%;
    text-align: center;
}
.container {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    flex-flow: column;
    align-items: center;
}
.Map {
    display:flex;
}
.turnMap {
    display:flex;
    margin-top: 20px;
    flex-flow:column;
    align-items: center;
}
.turn {
    display:flex;

}
.turn:not(:last-child) {
    pointer-events: none;
}
.turnBtn {
    width: calc(var(--pW) - 4px);
    padding: 2px;
    height: 3em;
    margin-top: 20px;
}

.port {
    display:flex;
    flex-flow: column;
    width: var(--pW);
    height: var(--pH);
    background: url('Portrait.png');
    background-size: var(--pW) var(--pH);
    background-position: center;
    justify-content: flex-end;
    align-items: center;
}
.port * {
    margin-left: 5px;
}
.res {
    display:flex;
    flex-flow: column;
    width: 52px;
    height: 71px;
    margin-right: 5px;
    Background: url('Resource.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;
}
.res p {
    margin: 10px 0 0 0;
    font-weight: bold;
    color: black;
    filter: drop-shadow(goldenrod 0 0 1px);
}
.choice {
    display: flex;
    flex-flow: column;
    width: var(--pW);
}
.complete {
    pointer-events: none;
}
.complete .select.output {
    background-image: url('Marker_G.svg');
}
.select.output{
    background-image: url("Marker_Y.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width:100%;
    height:30px;
}
.Map button{
    display:none;
    width: 100%;
    max-width: 75px;
}
.Map *:last-child > button{
    display: block;
}
.Map *:first-child > .rmvBtn{
    display: none;
}



